.hat {
    background: #FFFFFF;
    border-bottom: 3px solid #F2F2F2 ;
    /* background: linear-gradient(to top ,#757575 #F2F2F2) */
    padding: 15px 0px 15px 0px
}

.hat__content {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr 2fr 1fr 1fr;
    grid-gap: 40px;
}

.hat__logo__uber {
    display: flex;
    justify-content: flex-start;
}

.hat__logo__eats {
    display: flex;
    justify-content: flex-start;
}

.hat__text__uber {
    color: #000000;
}

.hat__text__eats {
    color: #57AD56 ;
}

.hat__button {
    display: flex;
    justify-content: flex-end;
}

.hat__basket {
    display: flex;
    justify-content: flex-start;
}

.hat__button__enter {
    padding: 15px 24px;
    border: 1px solid #E0E0E0;
    border-radius: 3px;
    font-size: 13px;
    background: #FFFFFF;
    cursor: pointer;
}

.emptiness {
    display: grid;
    grid-template-columns:  1fr 2fr 2fr 2fr 2fr 2fr 1fr;
}

.search {
    background:#F2F2F2 ;
}

.search__string {
    display: grid;
    grid-template-columns:  1fr 2fr 2fr 2fr 2fr 2fr 1fr;
    grid-gap: 40px;
}

.search__hat {
    display: flex;
    justify-content: flex-start;
    border-bottom: 1px solid #757575;
}